<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title,links,scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}">调度系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--    <link rel="icon" type="text/css" th:href="@{/static/images/background.jpg}"/>-->
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/datatimepicker/bootstrap-datetimepicker.min.css}">
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
    <script th:src="@{/static/jQuery/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/datatimepicker/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/datatimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/static/datatables/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/static/datatables/js/dataTables.bootstrap4.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery-validation/js/jquery.validate.js}"></script>

    <script th:src="@{/static/js/base.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/modal.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/table.js}" type="text/javascript"></script>
    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
<body>

</body>
</html>